.footer-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    .social-icons{
        margin-top: 20px;
        img{
            height:2rem;
            margin:10px;
        }
    }
}