.header-wrapper{
    width:80%;
    margin-top:15%;
    text-align: center;
    font-size: 20px;
    .header-changebar-start{
        opacity: 1;
        transition-duration: 1s;
    }
    .header-changebar-end{
        opacity: 0;
        transition-duration: 1s;
    }
}